html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
:root {
  --text-shadow-txshw1: 0px 0px 2px #000;
  --text-shadow-txshw2: 0px 0px 1px #000;
  --box-shadow-bxshw1: 0px 0px 5px #000;
}
/* icone fontawesom */
i {
  color: #000;
}
/* icone fontawesom fin*/
/*Titre h1*/
.ml1 {
  margin-top: 1vh;
  font-weight: 900;
  font-size: 2.3em;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform-origin: 0 0;
}

.ml1 .line1 {
  top: 0;
}
.ml1 .line2 {
  bottom: 0;
}
/*Titre h1 fin*/
/* header */
header {
  height: auto;
  width: 100%;
}
/* navigation */
/* session navigation administrateur */
#session_admin_container {
  padding: 3px;
  height: auto;
  max-width: 90vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
#session_admin_container > h4 {
  margin: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #000;
  text-decoration: underline;
}
#session_admin_container > h4 > span {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  text-shadow: var(--text-shadow-txshw1);
}
#admin_ul {
  margin: 5px 0 0 0;
  padding: 0;
  height: auto;
  width: 90vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
#admin_ul > p {
  margin: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #000;
  text-decoration: underline;
}
#admin_ul > p > a {
  text-decoration: none;
  color: #000;
}
#admin_ul > p > a > span {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  text-shadow: var(--text-shadow-txshw1);
}
.admin_li {
  list-style-type: none;
}
/* session navigation administrateur fin*/
/* session navigation utilisateur */
#session_user_container {
  padding: 3px;
  height: auto;
  max-width: 50vw;
  display: block;
}
#session_user_container > h4 {
  margin: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #000;
  text-decoration: underline;
}
#session_user_container > h4 > span {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  text-shadow: var(--text-shadow-txshw1);
}
#user_ul {
  margin: 5px 0 0 0;
  padding: 0;
  height: auto;
  max-width: 30vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.user_li {
  list-style-type: none;
}

/* session navigation utilisateur fin*/
.firstNav {
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.myLinks {
  padding: 0;
  text-align: right;
  visibility: hidden;
  height: 0;
  width: 0;
  display: flex;
  flex-flow: column nowrap;
  transition: 0.6s ease-in-out;
  overflow: hidden;
}
.firstLi {
  height: auto;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
}
.firstLi > a {
  height: auto;
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 5px;
  text-decoration: none;
  color: #000;
}
.firstLi > a:hover {
  text-decoration: underline;
}
.firstLi > a > span {
  font-size: 1.9rem;
  text-decoration: none;
  color: #000;
  text-shadow: var(--text-shadow-txshw1);
}
#navForm {
  padding: 5px;
  margin-left: auto;
  margin-right: 1vw;
  height: auto;
  min-width: 50vw;
  max-width: 100%;
  background-color: #000;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}
#navForm > input {
  text-align: center;
  height: 2.5vh;
  max-width: 28vw;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

.firstLi > p {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.firstLi > p > a > span {
  color: #000;
  font-size: 1.5rem;
}
.firstLi > p > a {
  letter-spacing: 3px;
  color: #000;
}
.burgerContainer {
  float: right;
  display: block;
  cursor: pointer;
  height: auto;
  width: auto;
  box-sizing: border-box;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #000;
  margin: 6px 0;
  transition: 0.4s;
  right: 0;
}
.show {
  margin-right: auto;
  margin-left: auto;
  height: auto;
  visibility: visible;
  width: 85%;
}
/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
/* navigation fin*/
/* header fin*/
/* section 1 */

/* swiperjs */
.swiper {
  width: 100%;
  height: 50vh;
  box-shadow: var(--box-shadow-bxshw1);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev {
  color: #000;
}
/* swiperjs fin */
/* section 1 fin*/
/* section 2 */

/* nav section 2 */
#S2 {
  height: auto;
  width: 100%;
}
#ul_categorie {
  padding: 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.li_categorie {
  height: auto;
  width: auto;
  list-style-type: none;
}
.li_categorie > a {
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  letter-spacing: 1px;
  text-decoration: wavy;
}
.li_categorie > a:hover {
  text-decoration: underline;
}
.li_categorie > a > span {
  font-size: 1.3rem;
  text-decoration: none;
  color: #000;
  text-shadow: var(--text-shadow-txshw1);
}
#formS2 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  box-shadow: var(--box-shadow-bxshw1);
}
.categorie_container,
.marque_container {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
.categorie_container > button,
.marque_container > button {
  height: 3vh;
  width: 8vw;
  background-color: #000;
  border-radius: 8px;
  margin-left: 3px;
  margin-bottom: 5px;
  border: none;
}
.categorie_container > button > i,
.marque_container > button > i {
  color: #fff;
}
.categorie_container > label {
  font-size: 1rem;
  letter-spacing: 2px;
}
.marque_container > label {
  font-size: 1rem;
  letter-spacing: 2px;
}
.categorie_container > label > i {
  font-size: 1rem;
}
.marque_container > label > i {
  font-size: 1rem;
}
.categorie_container > select {
  font-size: 1rem;
  letter-spacing: 2px;
  margin-left: 1px;
}
.marque_container > select {
  font-size: 1rem;
  letter-spacing: 2px;
  margin-left: 1px;
}
/* slide catégorie & marque*/
.sub_slide {
  height: 25vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: #000;
}
/* slide catégorie & marquefin*/
/* nav section 2 fin*/
/* grille de vêtement */
#card_container {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.card {
  margin: 8px 0 8px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  height: 35vh;
  width: 40vw;
  background-color: antiquewhite;
  box-shadow: var(--box-shadow-bxshw1);
  overflow: hidden;
}
article {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
article > a {
  font-size: 1.1rem;
  text-shadow: var(--text-shadow-txshw2);
  letter-spacing: 1px;
  color: #000;
}
article > a:hover {
  transform: scale(1.04);
  letter-spacing: 3px;
  transition: 0.3s ease-in-out;
}
article > figure > img {
  height: 15vh;
  width: 40vw;
}
article > figure > figcaption {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
article > figure > figcaption > .shop_icon {
  height: auto;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

/* grille de vêtement fin*/

/* section 2 fin*/
/* signup */
legend > #signupH2 {
  text-align: center;
  text-decoration: underline;
}
#signupH2 > span {
  font-size: 1.9rem;
  text-decoration: none;
  color: #000;
  text-shadow: var(--text-shadow-txshw1);
}
#signForm {
  max-height: 80vh;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
#signForm > input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  max-height: 4vh;
  max-width: 80%;
  border-radius: 5px;
}
#signForm > input[type="submit"] {
  max-height: 4vh;
  max-width: 80%;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
}
#signForm > p {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
#signForm > p > a {
  letter-spacing: 3px;
  color: #000;
}
#signForm > p > a > span {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
}
input:focus {
  background-color: #000;
  color: #fff;
}
/* signup fin*/
/*insertproduit.php*/
#section_insertion_produit {
  margin: 0;
  height: auto;
  width: 100%;
  padding: 3px;
}
#section_insertion_produit > fieldset {
  text-align: center;
  margin: auto;
  height: auto;
  max-width: 80vw;
  overflow: hidden;
  letter-spacing: 3px;
  color: #000;
  font-size: 1.1rem;
}
#section_insertion_produit > fieldset > form {
  margin: 0;
  height: auto;
  max-width: 80vw;
  padding: 3px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
#section_insertion_produit > fieldset > form > label {
  letter-spacing: 1px;
  color: #000;
  font-size: 1rem;
  text-decoration: underline;
}
#section_insertion_produit > fieldset > form > input,
select {
  height: 2.5vh;
  width: 60vw;
  margin: 5px 0 10px 0;
  border-radius: 5px;
  border: 1px solid #000;
}
#section_insertion_produit > fieldset > form > input,
select {
  height: 3vh;
  width: 60vw;
  margin: 5px 0 10px 0;
  border-radius: 5px;
  border: 1px solid #000;
}
#section_insertion_produit > fieldset > form > input[type="file"] {
  height: 2.5vh;
  width: 40vw;
  margin: 5px 0 10px 0;
  border: none;
}
#section_insertion_produit > fieldset > form > input[type="submit"] {
  height: 2.5vh;
  width: 40vw;
  margin: 5px 0 10px 0;
  border-radius: 5px;
  border: 1px solid #000;
}
#section_insertion_produit > fieldset > form > input[type="submit"]:hover {
  background-color: #000;
  color: #fff;
  transition: 0.2s ease-in-out;
}
#section_insertion_produit > fieldset > form > .radioContainer {
  height: auto;
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
#section_insertion_produit > fieldset > form > .radioContainer > label {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: double;
}
/*insertproduit.php fin*/
/* produit.php */
.container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 3.5fr 0.1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "A B E"
    "A C F"
    "A D G";
  box-shadow: var(--box-shadow-bxshw1);
  background-color: #000;
}

.A {
  grid-area: A;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.A > img {
  height: 65vh;
  width: 100vw;
}

.E {
  grid-area: E;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.E > img {
  height: auto;
  width: 100%;
}

.F {
  grid-area: F;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.F > img {
  height: auto;
  width: 100%;
}

.G {
  grid-area: G;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.G > img {
  height: auto;
  width: 100%;
}
.shop_icon_produit {
  height: auto;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
/* liens retour */
.retour_wrapper {
  height: auto;
  width: 100%;
}
.retour_wrapper > a {
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  letter-spacing: 2px;
}
.retour_wrapper > a > span {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  text-shadow: var(--text-shadow-txshw1);
}
.retour_wrapper > a:hover {
  text-decoration: underline;
}
.retour_wrapper > h4 {
  text-align: center;
}
/* liens retour fin*/
/* produit.php fin*/
