/******↓↓↓RESPONSIVE SMARTPHONE↓↓↓******/
@media only screen and (min-width: 767px) {
  .card {
    height: 45vh;
    width: 40vw;
  }
  article > figure > img {
    height: 25vh;
    width: 35vw;
  }
}
/******↑↑↑RESPONSIVE SMARTPHONE FIN↑↑↑******/
/************************************************/
/************************************************/
/************************************************/
/******************RESPONSIVE**TABLETTE**********/
@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    height: 45vh;
    width: 28vw;
  }
  article > figure > img {
    height: 25vh;
    width: 25vw;
  }
}

/******↑↑↑RESPONSIVE TABLETTE FIN↑↑↑******/
/************************************************/
/************************************************/
/************************************************/
/******↓↓↓RESPONSIVE LAPTOP↓↓↓******/
@media only screen and (min-width: 1025px) {
  .card {
    height: 45vh;
    width: 20vw;
  }
  article > figure > img {
    height: 25vh;
    width: 17vw;
  }
}
/******↑↑↑RESPONSIVE LAPTOP FIN↑↑↑******/
